<h1>Nombre: <%= @user.username %> </h1>

<h3>Rol: <%= @user.roll %> </h3>

<h3>Name: <%= @user.name %> </h3>

<h3>Surname: <%= @user.surname %> </h3>

<h3>Address: <%= @user.address %> </h3>

<h3>Email: <%= @user.email %> </h3>

<h3>Phone: <%= @user.phone %> </h3>


<div>
  <%= link_to "Edit profile", edit_profile_path(@user) %>
</div>
