<%= form_with(url: sessions_path) do |form| %>
  
    <div>
      <%= form.label :login, style: "display: block" %>
      <%= form.text_field :login %>
    </div>
  
    <div>
      <%= form.label :password_digest, style: "display: block" %>
      <%= form.password_field :password_digest %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>