<p style="color: green"><%= notice %></p>

<%= render @bank %>

Fecha       Hora  Motivo
<% @bank.turns.each do |turn| %>
  <div>
  <%= turn %> |
  <%= link_to "Show this turn", turn %>
  </div>
<% end %>

<div>
  <% if can? :edit, @bank %>
  <%= link_to "Edit this bank", edit_bank_path(@bank) %> <%end%>| 
  <%= link_to "Request turn", new_turn_path(:motivo => @bank.id) %> |
  <%= link_to "Back to banks", banks_path %>

  <% if can? :edit, @bank %>
  <%= button_to "Destroy this bank", @bank, method: :delete %> <%end%>
</div>
