<%= render @bank %>

Localidad: <%= @bank.locality.locality %>, <%= @bank.locality.province %>

<h3>Schedules</h3>
<% @bank.schedules.each do |schedule| %> 
<div>
<%if schedule.startAttention && schedule.endAttention%>
<%= schedule.day %> <%= schedule.startAttention %> a <%= schedule.endAttention %>hs
<%else%>
<%= schedule.day %> |no atiende|
<% end %>
<% end %>
</div>

<div>
  <% if Current.user.has_role? :"Personal bancario" %>
  <%= link_to "Show turns for this bank", turns_path(:motivo => @bank.id) %>
  <% end %>
  
  <% if can? :edit, @bank %>
  <%= link_to "Edit this bank", edit_bank_path(@bank) %> <%end%> | 
  <% if Current.user.has_role? :"Cliente" %>
  <%= link_to "Request turn", new_turn_path(:motivo => @bank.id) %> <% end %> |
  <%= link_to "Back to banks", banks_path %>

  <% if can? :edit, @bank %>
  <%= button_to "Destroy this bank", @bank, method: :delete %> <%end%>
</div>
