<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.label :password, style: "display: block" %>
    <%= form.password_field :password %>
  </div>


  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>


  <div>
    <%= form.label :surname, style: "display: block" %>
    <%= form.text_field :surname %>
  </div>


  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>


  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.email_field :email %>
  </div>

  <div>
    <%= form.label :roll, style: "display: block" %>
    <%= form.select :roll, options_for_select([["Administrador", "Administrador"], ["Personal bancario", "Personal bancario"], ["Cliente", "Cliente"]]) %>
  </div>
  
  <div id="bank_id" style="display: none">
    <%= form.label :bank_id, style: "display: block" %>
    <%= form.select :bank_id, options_from_collection_for_select(Bank.all, :id, :name) %>
  </div>

  <script>
    function showHide() {
      document.getElementById("bank_id").style.display = "block";
    }
  </script>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>
