<h1> Edit schedule </h1>

<%= form_with(model: @schedule, :url => {:action => 'updateSchedule'}) do |form| %>
    <% if @schedule.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>
  
        <ul>
          <% @schedule.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div>
    <%= form.label :day, style: "display: block" %>
    <%= form.text_field :day, disabled: true %>
   </div>

    <div>
    <%= form.label :startAttention, style: "display: block" %>
    <%= form.select :startAttention, options_for_select([["08:00", "08:00"], ["08:15", "08:15"], ["08:30", "08:30"], ["08:45", "08:45"], ["09:00", "09:00"], ["09:15", "09:15"], ["09:30", "09:30"], ["09:45", "09:45"], ["10:00", "10:00"], ["10:15", "10:15"], ["10:30", "10:30"], ["10:45", "10:45"], ["11:00", "11:00"], ["11:15", "11:15"], ["11:30", "11:30"], ["11:45", "11:45"], ["12:00", "12:00"], ["12:15", "12:15"], ["12:30", "12:30"], ["12:45", "12:45"], ["13:00", "13:00"], ["13:15", "13:15"], ["13:30", "13:30"], ["13:45", "13:45"], ["14:00", "14:00"], ["14:15", "14:15"], ["14:30", "14:30"], ["14:45", "14:45"], ["15:00", "15:00"], ["15:15", "15:15"], ["15:30", "15:30"], ["15:45", "15:45"], ["16:00", "16:00"], ["16:15", "16:15"], ["16:30", "16:30"], ["16:45", "16:45"], ["17:00", "17:00"]] ) %>
    </div>

    <div>
    <%= form.label :endAttention, style: "display: block" %>
    <%= form.select :endAttention, options_for_select([["08:00", "08:00"], ["08:15", "08:15"], ["08:30", "08:30"], ["08:45", "08:45"], ["09:00", "09:00"], ["09:15", "09:15"], ["09:30", "09:30"], ["09:45", "09:45"], ["10:00", "10:00"], ["10:15", "10:15"], ["10:30", "10:30"], ["10:45", "10:45"], ["11:00", "11:00"], ["11:15", "11:15"], ["11:30", "11:30"], ["11:45", "11:45"], ["12:00", "12:00"], ["12:15", "12:15"], ["12:30", "12:30"], ["12:45", "12:45"], ["13:00", "13:00"], ["13:15", "13:15"], ["13:30", "13:30"], ["13:45", "13:45"], ["14:00", "14:00"], ["14:15", "14:15"], ["14:30", "14:30"], ["14:45", "14:45"], ["15:00", "15:00"], ["15:15", "15:15"], ["15:30", "15:30"], ["15:45", "15:45"], ["16:00", "16:00"], ["16:15", "16:15"], ["16:30", "16:30"], ["16:45", "16:45"], ["17:00", "17:00"]] ) %>
    </div>

    <div>
    <%= form.submit %>
<% end %>