<div id="<%= dom_id turn %>">
  <p>
    <strong>Bank:</strong>
    <%= turn.bank_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= turn.user_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= turn.day %>
  </p>

  <p>
    <strong>Hour:</strong>
    <%= turn.hour %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= turn.reason %>
  </p>

  <p>
    <strong>State:</strong>
    <%= turn.state %>
  </p>

  <p>
    <strong>Result:</strong>
    <%= turn.result %>
  </p>

  <p>
    <strong>Bank staff:</strong>
    <%= turn.bank_staff %>
  </p>

</div>
