<h1>Atender turno</h1>

<%= form_with(model: @turn, :url => {:action => 'attended'}) do |form| %>
  <% if @turn.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@turn.errors.count, "error") %> prohibited this turn from being saved:</h2>

      <ul>
        <% @turn.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :day, style: "display: block" %>
    <%= form.text_field :day, disabled: true %>
  </div>

  <div>
    <%= form.label :hour, style: "display: block" %>
    <%= form.text_field :hour, disabled: true %>
  </div>

  <div>
    <%= form.label :reason, style: "display: block" %>
    <%= form.text_field :reason, disabled: true %>
  </div>

  <div>
  <%= form.label :state, style: "display: block" %>
  <%= form.text_field :state, disabled: true %>
</div>

<div>
  <%= form.label :result, style: "display: block" %>
  <%= form.text_field :result %>
</div>

  <div>
    <%= form.hidden_field :bank_id, value: @bank.id if @bank %>
    <%= form.submit %>
  </div>
<% end %>
<br>