<h1>New turn for bank <%= @bank.name if @bank %></h1>

<%= form_with(model: @turn) do |form| %>
  <% if @turn.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@turn.errors.count, "error") %> prohibited this turn from being saved:</h2>
      <ul>
        <% @turn.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :day, style: "display: block" %>
    <%= form.date_field :day %>
  </div>

  <div>
    <%= form.label :hour, style: "display: block" %>
    <%= form.select :hour, options_for_select([["08:00", "08:00"], ["09:00", "09:00"], ["10:00", "10:00"], ["11:00", "11:00"], ["12:00", "12:00"], ["13:00", "13:00"], ["14:00", "14:00"], ["15:00", "15:00"], ["16:00", "16:00"]] ) %>
  </div>

  <div>
    <%= form.label :reason, style: "display: block" %>
    <%= form.text_field :reason %>
  </div>

  <div>
    <%= form.hidden_field :bank_id, value: @bank.id if @bank %>
    <%= form.submit %>
  </div>
<% end %>
<br>

<h3>Schedules guide</h3>
<% @bank.schedules.each do |schedule| %> 
<div>
<%if schedule.startAttention && schedule.endAttention%>
<%= schedule.day %> |<%= schedule.startAttention %> a <%= schedule.endAttention %>hs|
<%else%>
<%= schedule.day %> |no atiende|
<% end %>
<% end %>
</div>

<div>
  <%= link_to "Back to turns", turns_path %>
</div>
