<h2>Bank: <%= @bank.name %></h2>
<h2>Day: <%= @turn.day %></h2>
<h2>Hour: <%= @turn.hour %></h2>
<h2>State: <%= @turn.state %></h2>
<h2>Reason: <%= @turn.reason %></h2>
<% if @bank_staff %>
  <h2>Attended by: <%= @bank_staff.name %></h2>
<% end %>

<div>
  <%= link_to "Attend this turn", attend_turn_path(@turn) %> |
  <%= link_to "Edit this turn", edit_turn_path(@turn) %> |
  <%= link_to "Back to turns", turns_path %>

  <%= button_to "Destroy this turn", @turn, method: :delete %>
</div>
