<!DOCTYPE html>
<html>
  <head>
    <title>TpiBancos</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <%= link_to "New bank", new_bank_path %>
  <%= link_to "New user", new_user_path %>
  <%= link_to ('logout'), session_path(Current.user.id), data: {
  turbo_method: :delete,
  turbo_confirm: ('are you sure?')
} if Current.user %>
  <%= yield %>
  </body>
</html>
